{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "plugins": ["@typescript-eslint"],
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "extends": [
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:import/typescript",
    "plugin:jsx-a11y/recommended",
    "plugin:eslint-comments/recommended",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": ["error"],
    "@typescript-eslint/no-var-requires": "off",
    "react/prop-types": "off",
    "react/jsx-uses-react": "off",
    "react/react-in-jsx-scope": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "jsx-a11y/no-onchange": 0,
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true,
        "trailingComma": "es5",
        "bracketSpacing": true
      }
    ],
    "no-console": 2,
    "no-plusplus": 0,
    "prefer-destructuring": 0,
    "no-use-before-define": 0,
    "global-require": 0,
    "no-multi-comp": 0,
    "react/jsx-filename-extension": "off",
    "import/prefer-default-export": "off",
    "import/no-extraneous-dependencies": "off",
    "import/no-named-as-default-member": "off",
    "import/no-named-as-default": "off",
    "import/no-unresolved": "off",
    "no-underscore-dangle": "off",
    "class-methods-use-this": "off",
    "react/require-default-props": "off",
    "react/forbid-prop-types": [
      2,
      {
        "forbid": ["any"]
      }
    ],
    "react/destructuring-assignment": "off"
  }
}
