

.commonTable-search {
    margin-top: 2rem;
    float: right;
  }
  
  .commonTableRow {
    height: 50px;
  }
  

  .commonTableRow:last-child td, 
  .commonTableRow:last-child th {
    border: 0;
  }
  