.pagination-actions {
    display: 'flex';
    align-items: 'center';
    margin-left: '1rem';
  }
  .pagination-input {
    text-align: center;
  }
  .pagination-textfield {
    width: '5rem';
  }
  .pagination-button-go {
    cursor: 'pointer';
    margin: '0 1rem';
  }
  .pagination-button-prev {
    cursor: 'pointer';
    margin-right: '1rem';
  }
  .pagination-button-next {
    cursor: 'pointer';
  }
  
  