.heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.totalAmount{
   font-weight: bold;
   text-align: center;
}

.buttonBox{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 2rem;
}

.printButton{
    margin-top: 1rem;
    margin-right: 1rem;
}
.addItemContainer {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    margin-top: 2rem;
  }